.logo_achievement {
    margin-top: 10%;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

.ne_deblocate {
    width:200px; 
    height:200px; 
    margin-top:50px;
    padding:5px;background:green;
}

.deblocate1 {
    width:200px; 
    height:200px; 
    margin-top:50px;
    margin-left:75px; margin-right:75px; background:orange; 
    padding: 5px; position: relative;
}
.deblocate2 {
    width:200px; 
    height:200px; 
    margin-top:50px;
    background:orange; 
    padding: 5px; position: relative;
}

.logo4 {
    width:200px; 
    height:200px; 
    margin-top:50px;
    border-top-left-radius: 15%;
    border-top-right-radius: 15%;
    border-bottom-left-radius: 40%;
    border-bottom-right-radius: 40%;
    padding:2px;
    background: #D9D9D9; position: relative; margin-left:37.5px; margin-right:37.5px;
    -webkit-transition: All 0.3s ease-in-out;
}
.tooltip {
    display: inline-block;
    position: relative;
    border-bottom: 5px dotted black;

}
.tooltip .tooltiptext {
    visibility: hidden;
    width: 120px;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;

    /* Position the tooltip */
    position: absolute;
    z-index: 1;
}
.tooltip:hover .tooltiptext {
    visibility: hidden;
    width: 120px;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;

    /* Position the tooltip */
    position: absolute;
    z-index: 1;
}
.logo4:hover {
    width:220px;
    height:220px;
}

.logo5 {
    width:200px; 
    height:200px; 
    margin-top:50px;
    border-top-left-radius: 15%;
    border-top-right-radius: 15%;
    border-bottom-left-radius: 40%;
    border-bottom-right-radius: 40%;
    padding:2px;margin-left:37.5px; margin-right:37.5px; 
    background: #D9D9D9; position: relative;
    -webkit-transition: All 0.3s ease-in-out;
}

.logo5:hover {
    width:220px;
    height:220px;
}

.logo6 {
    width:200px;
    height:200px;
    margin-top:50px;
    border-top-left-radius: 15%;
    border-top-right-radius: 15%;
    border-bottom-left-radius: 40%;
    border-bottom-right-radius: 40%;
    padding:2px;background:#D9D9D9; margin-right:37.5px; margin-left:37.5px;position: relative;
    -webkit-transition: All 0.3s ease-in-out;
}
.logo6:hover {
    width:220px;
    height:220px;
}
.logo8 {
    width:200px; 
    height:200px; 
    margin-top:50px;
    border-top-left-radius: 15%;
    border-top-right-radius: 15%;
    border-bottom-left-radius: 40%;
    border-bottom-right-radius: 40%;
    padding:2px;margin-left:75px; margin-right:75px; background: #D9D9D9; position: relative;
    -webkit-transition: All 0.3s ease-in-out;
}
.logo8:hover {
    width:220px;
    height:220px;
}
.level4, .level5, .level6, .level8 {
    position: relative;
}

.level4 i.code {
	position: absolute;
    margin-top: -65%;
    margin-left: -17%;
    color: #D9D9D9;
}

.level5 i.language {
    position: absolute;
    margin-top: -62%;
    margin-left: -12.5%;
    color: #D9D9D9;
}

.level6 i.music {
    position: absolute;
    margin-top: -64%;
    margin-left: -15%;
    color: #D9D9D9;
}

.level8 i.music {
    position: absolute;
    margin-top: -50%;
    margin-left: -11%;
    color: #D9D9D9;
}

.level4 i.star1{
    position: absolute;
    margin-top: -24%;
    margin-left: -19%;
    color: #D9D9D9;
}
.level5 i.star1{
    position: absolute;
    margin-top: -23%;
    margin-left: -18%;
    color: #D9D9D9;
}
.level6 i.star1{
    position: absolute;
    margin-top: -23%;
    margin-left: -19%;
    color: #D9D9D9;
}
.level8 i.star1 {
    position: absolute;
    margin-top: -18%;
    margin-left: -14%;
    color: #D9D9D9;
}

.level4 i.star2 {
    position: absolute;
    margin-top: -24%;
    margin-left: -3%;
    color: #D9D9D9;
}
.level5 i.star2 {
    position: absolute;
    margin-top: -23%;
    margin-left: -3%;
    color: #D9D9D9;
}
.level6 i.star2 {
    position: absolute;
    margin-top: -23%;
    margin-left: -3%;
    color: #D9D9D9;
}
.level8 i.star2 {
    position: absolute;
    margin-top: -18%;
    margin-left: -3%;
    color: #D9D9D9;
}

.level4 i.star3 {
    position: absolute;
    margin-top: -24%;
    margin-left: 12%;
    color: #D9D9D9;
}
.level5 i.star3 {
    position: absolute;
    margin-top: -23%;
    margin-left: 12%;
    color: #D9D9D9;
}
.level6 i.star3 {
    position: absolute;
    margin-top: -23%;
    margin-left: 13%;
    color: #D9D9D9;
}
.level8 i.star3 {
    position: absolute;
    margin-top: -18%;
    margin-left: 8%;
    color: #D9D9D9;
}

.first_row,.second_row,.third_row{
    text-align: center;
}

.atribute_achievement{
    display: inline-block;
 }

.tilt {
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    -ms-transition: all 0.5s ease;
    transition: all 0.5s ease;
}
.tilt:hover {
    -webkit-transform: rotate(-10deg);
    -moz-transform: rotate(-10deg);
    -o-transform: rotate(-10deg);
    -ms-transform: rotate(-10deg);
    transform: rotate(-10deg);
}

.achievement_locked {
    position: relative;
}

.achievement_unlocked {
    opacity: 0.5;
}

.achievement_unlocked:hover {
    opacity: 1.0;
}

.middle {
    transition: .5s ease;
    opacity: 0;
    position: absolute;
        border-style: solid;
        border-width: 3px;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);

    text-align: center;
}

.achievement_locked:hover .image_effect {
    opacity: 0.5;
}

.achievement_locked:hover .middle {
    opacity: 1;
}

.text {
    background-color: rgb(122, 129, 122);
    color: white;
    font-family: 'Courier New';
    font-size: 13px;
    padding: 10px 
}

