.selectorTab{
    padding: 73px 0 0 0;
    background-color: #67A3AA;
}
.course-content{
    margin: -15% -100% -23% -4.1%;
}
.main-flex{
    background-color: #67A3AA;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    height: 100%;
    width: 100%;
    padding: 20% 0% 0% 10%;
}