.navigation-bar {
    margin-top: 0px;
    /*padding: 0px;*/
    margin-left: 0;
    width: 100%;
    overflow: hidden;
    background-color: #333;
    position: absolute;
}

nav a {
    float: left;
    position: relative;
}
/*
li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 14px;
    text-decoration: none;
}*/

.nav-text-item {
    display: inline-block;
    color: white;
    text-align: center;
    padding: 14px 14px;
    text-decoration: none;
    font-size:150%;
}

nav a : hover {
    display: block;
    background-color:  #000;
}
/* 
li input {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 14px;
    text-decoration: none;
} */

.top-contact-icons {
    float: right;
    display: block;
    margin-right: 15px;
    overflow: hidden;
}

.logo-image {
    /*size:30%;*/
    padding: 10px 10px;
    width: 102.666px;
    height: 33.666px;
}

div.header {
    background-color: #333;
    top:0;
    left:0;
    width: 100%;

    position: absolute;
    position: fixed;
}
  
 .search-container {
    position:relative;
  }

  
  .search-container input {
    padding: 6px;
    margin-top: 12px;
    font-size: 10px;
    border: 2px grey;

    color: rgba(238, 84, 17, 0.776);
    text-align: center;
    text-decoration: none;
  }
  
  .search-container input button {
    float: right;
    padding: 6px 10px;
    margin-top: 8px;
    margin-right: 0px;
    background:rgba(186, 170, 158, 0.776);
    font-size: 15px;
    border: none;
    cursor: pointer;
  }
  
   .search-container button:hover {
    background: rgba(186, 170, 158, 0.776);
  }

  button {
        position: relative;
        right:-30;
        top:10;
  }

  footer {
    position:fixed;
    bottom:0;
    left:45%;
  }
  
 li.nav-item {
    position: relative;
    padding: 5px;

 }

 p {

 }

  