.logo_achievement {
    margin-top: 10%;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

.ne_deblocate {
    width:200px; 
    height:200px; 
    margin-top:50px;
    padding:5px;background:green;
}

.deblocate1 {
    width:200px; 
    height:200px; 
    margin-top:50px;
    margin-left:75px; margin-right:75px; background:orange; 
    padding: 5px; position: relative;
}
.deblocate2 {
    width:200px; 
    height:200px; 
    margin-top:50px;
    background:orange; 
    padding: 5px; position: relative;
}
.logo5 {
    width:200px; 
    height:200px; 
    margin-top:50px;
    border-top-left-radius: 15%;
    border-top-right-radius: 15%;
    border-bottom-left-radius: 40%;
    border-bottom-right-radius: 40%;
    padding:2px;margin-left:75px; margin-right:75px; 
    background: #D9D9D9; position: relative;
}
.logo6 {
    width:200px;
                height:200px;
                margin-top:50px;
                border-top-left-radius: 15%;
                border-top-right-radius: 15%;
                border-bottom-left-radius: 40%;
                border-bottom-right-radius: 40%;
                padding:2px;background:#D9D9D9; position: relative;
}
.logo8 {
    width:200px; 
    height:200px; 
    margin-top:50px;
    border-top-left-radius: 15%;
    border-top-right-radius: 15%;
    border-bottom-left-radius: 40%;
    border-bottom-right-radius: 40%;
    padding:2px;margin-left:75px; margin-right:75px; background: #D9D9D9; position: relative;
}
.level5, .level6, .level8 {
    position: relative;
}
.level5 i.plane {
    position: absolute;
    margin-top: -49%;
    margin-left: -9%;
    color: #D9D9D9;
}
.level8 i.music {
    position: absolute;
    margin-top: -50%;
    margin-left: -11%;
    color: #D9D9D9;
}
.level6 i.ambulance {
    position: absolute;
    margin-top: -86%;
    margin-left: -23%;
    color: #D9D9D9;
}

.level5 i.star1{
    position: absolute;
    margin-top: -18%;
    margin-left: -14%;
    color: #D9D9D9;
}
.level6 i.star1{
    position: absolute;
    margin-top: -31%;
    margin-left: -25%;
    color: #D9D9D9;
}
.level8 i.star1 {
    position: absolute;
    margin-top: -18%;
    margin-left: -14%;
    color: #D9D9D9;
}

.level5 i.star2 {
    position: absolute;
    margin-top: -18%;
    margin-left: -2%;
    color: #D9D9D9;
}
.level6 i.star2 {
    position: absolute;
    margin-top: -31%;
    margin-left: -4%;
    color: #D9D9D9;
}
.level8 i.star2 {
    position: absolute;
    margin-top: -18%;
    margin-left: -3%;
    color: #D9D9D9;
}

.level5 i.star3 {
    position: absolute;
    margin-top: -18%;
    margin-left: 10%;
    color: #D9D9D9;
}
.level6 i.star3 {
    position: absolute;
    margin-top: -31%;
    margin-left: 17%;
    color: #D9D9D9;
}
.level8 i.star3 {
    position: absolute;
    margin-top: -18%;
    margin-left: 8%;
    color: #D9D9D9;
}

.first_row,.second_row,.third_row{
    text-align: center;
}

.atribute_achievement{
    display: inline-block;
 }

.tilt {
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    -ms-transition: all 0.5s ease;
    transition: all 0.5s ease;
}
.tilt:hover {
    -webkit-transform: rotate(-10deg);
    -moz-transform: rotate(-10deg);
    -o-transform: rotate(-10deg);
    -ms-transform: rotate(-10deg);
    transform: rotate(-10deg);
}

.achievement_locked {
    position: relative;
}

.achievement_unlocked {
    opacity: 0.5;
}

.achievement_unlocked:hover {
    opacity: 1.0;
}

.middle {
    transition: .5s ease;
    opacity: 0;
    position: absolute;
        border-style: solid;
        border-width: 3px;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);

    text-align: center;
}

.achievement_locked:hover .image_effect {
    opacity: 0.5;
}

.achievement_locked:hover .middle {
    opacity: 1;
}

.text {
    background-color: rgb(122, 129, 122);
    color: white;
    font-family: 'Courier New';
    font-size: 13px;
    padding: 10px 
}

