.new-account-body {
    /* padding-left: auto; */
    /* display: block;
    /* margin:0px auto; 
    display: box;
    align-self: center; */
    width: 40%;
    position: absolute;
    left:43.5%;
    right: 50%;
    /* padding-top: 0%; */
    /* padding-left: 43.5%;
    padding-right: 50%; */
}

h1 {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color : #D7DAE5;
    display: inline-block;
}
.name-initial{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color : #192638;
    text-shadow: 1px 1px #192638;
    font-weight: 1300;

}
h5 {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color : #D7DAE5;
    font-style: italic;
}

p {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;

    font-weight: bold;
    color : #D7DAE5;
}

input {
    border: 1px solid;
    /* color:#192638; */
    border-radius: 8px;
    border-color: rgba(0, 0, 0, 0.7);
    width: 50%;
    height: 18px;
    font-size: 17px;
}


.new-account-input {
    background-color:#192638;
    color: #D7DAE5;
}

textarea {
    width: 200px;
    max-height: 150px;
    max-width: 400px;
}

 .bg-image {
     float:left;
 }
 .stickman-image {
     margin-left: 100px;
     margin-top: 160px;
     position: fixed;
 }


body {
    background: linear-gradient(#67a3aa,#192638);
    height:1100px;
}

@media(max-width:944px) {
    .new-account-body {
        padding-top: 50px;
    }
}


@media(max-width:752px) {
    .new-account-body {
        width: 50%;
        padding-top: 50px;
    }
    .stickman-image {
        margin-left: 60px;
    }
}

@media(max-width:630px) {
    .new-account-body {
        width: 70%;
        left: 0;
        padding-top: 60px;
        padding-left: 50px;
    }
    .bg-image {
        float: none;
        /* padding-left: 100px; */
    }
    .stickman-image { /* initially 285px/425px */
        padding-top: 50px;
        padding-left: 230px;
        width: 200px;
        height: 300px;
    }
}

@media(max-width:476px) {
    .new-account-body {
        width: 80%;
        left: 0;
        padding-top: 60px;
        padding-left: 50px;
    }
    .bg-image {
        float: none;
        /* padding-left: 100px; */
    }
    .stickman-image { 
        /* initially 285px/425px */
        padding-top: 50px;
        padding-left: 200px;
        width: 150px;
        height: 230px;;
    }
}


@media(max-width:390px) {
   
    .new-account-body {
        width: 80%;
        left: 0;
        padding-top: 90px;
        padding-left: 50px;
    }
    input {
        width: 50%;
    }
    .bg-image {
        float: none;
        /* padding-left: 100px; */
    }
    .stickman-image { 
        /* initially 285px/425px */
        padding-top: 70px;
        padding-left: 180px;
        width: 150px;
        height: 230px;;
    
    }
}


@media(max-width:342px) {
   
    .new-account-body {
        width: 80%;
        left: 0;
        padding-top: 90px;
        padding-left: 50px;
    }
    input {
        width: 60%;
    }
    .bg-image {
        float: none;
        /* padding-left: 100px; */
    }
    .stickman-image { 
        /* initially 285px/425px */
        padding-top: 70px;
        padding-left: 150px;
        width: 120px;
        height: 185px;;
    
    }
}

@media(max-width:310px) {
   
    .new-account-body {
        width: 80%;
        left: 0;
        padding-top: 90px;
        padding-left: 50px;
    }
    input {
        width: 60%;
    }
    .bg-image {
        float: none;
        /* padding-left: 100px; */
    }
    .stickman-image { 
        /* initially 285px/425px */
        padding-top: 70px;
        padding-left: 150px;
        width: 96px;
        height: 150px;;
    
    }
}

@media(max-width:291px) {
   
    .new-account-body {
        width: 80%;
        left: 0;
        padding-top: 120px;
        padding-left: 20px;
    }
    input {
        width: 70%;
    }
    .bg-image {
        float: none;
        /* padding-left: 100px; */
    }
    .stickman-image { 
        /* initially 285px/425px */
        padding-top: 88px;
        padding-left: 130px;
        width: 96px;
        height: 150px;;
    
    }
}

@media(max-width:268px) {
   
    .new-account-body {
        width: 80%;
        left: 0;
        padding-top: 150px;
        padding-left: 20px;
    }
    input {
        width: 70%;
    }
    .bg-image {
        display: none;
        float: none;
        /* padding-left: 100px; */
    }
    body {
        height: 1200px;
    }
}