
.content{
    padding: 0 0 0 0;
}
.search{
    /* display: flex;
    justify-content: space-around; */
    background-color: #444;
    color: #D7DAE5;
    border-radius: 5px;
    padding: 20px;
    margin: 0px;
    border: 0px;
    font-size: 150%;
    width : 100%;
    z-index: 4;
    position: relative;
    top: 35px;
    left: -1%;
}
.centered{
    display: flex;
    justify-content: space-around;
    align-items: space-around;
}
.tagbar-grid{
    display: grid;
    /* grid-template-columns: 5% 5% 5% 5%; */
    grid-template-rows: 20% 20% 20% 20% 20%;
    height: 25%;
    width: 100%;
    margin: 20% 0% 0% 0%;
}
.tagbar-element-width{
    left: -9.9%;
}
.tagbar-element0{
    grid-row: 1/2;
}
.tagbar-element1{
    grid-row: 2/3;
}
.tagbar-element2{
    grid-row: 3/4;
}
.tagbar-element3{
    grid-row: 4/5;
}
.tagbar-element4{
    grid-row: 5/6;
}
.tagbar{
    position: fixed;
    display : flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: space-around;
    top: 100px;
    background-color: #444;
    color: #D7DAE5;
    border-radius: 5px;
    padding: 20px;
    margin: 0px;
    border: 0px;
    font-size: 150%;
    height: 100%;
    z-index: -2000;
    top: 27%;
    left: 0px;
    width: 8.5%;
}
.course-content{
    margin: 0% 0% 0% 8.9%;
}
.main-flex{
    background-color: rgb(255,255,255);
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    height: 50%;
    width: 100%;
    padding: 10% 0% 0% 5%;
}
.main-flex > *{
    flex: 0 1 1;
    height: 50%;
}
.availability{
    grid-column: 2/3;
    width: 70%;
    height: 100%;
}
.box{
    background-color: rgb(204, 203, 190);
    color: #000;
    border-radius: 5px;
    padding: 20px;
    margin : 5px;
    position: relative;
    top: 96px;
    width: 80%;
    height: auto;
    font-size: 150%;
}
.image{
    grid-column: 1/2;
    width: 50%;
    height: 100%;
}
@media only screen and (max-width: 960px){
    .main-flex{
        padding: 12% 0% 0% 5%;
    }
    .tagbar{
        top: 29%;
    }
    .search{
        font-size:120%;
    }
    .tagbar{
        font-size: 120%;
    }
}
@media only screen and (max-width: 945px){
    .tagbar{
        top: 27%;
    }
}
@media only screen and (max-width: 770px){
    .main-flex{
        padding: 18% 0% 0% 5%;
    }
}
@media only screen and (max-width: 700px){
    .tagbar-element-width{
        right: 30%;
        left: -29.9%;
    }
    .main-flex{
        padding: 20% 0% 0% 5%;
    }
}
@media only screen and (max-width: 656px){
    .main-flex{
        padding: 16% 0% 0% 5%;
    }
    .search{
        font-size:100%;
    }
    .tagbar{
        top: 27%;
        font-size: 100%;
    }
}
@media only screen and (max-width : 600px)
{
    .main-flex{
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        height: 50%;
        width: 100%;
        padding: 20% 0% 0% 0%;
    }
    .box{
        background-color: rgb(204, 203, 190);
        color: #000;
        border-radius: 5px;
        padding: 20px;
        margin : 5px;
        position: relative;
        top: 96px;
        width: 80%;
        height: auto;
        font-size: 100%;
    }
    .availability{
        grid-column: 2/3;
        width: 80%;
        height: 100%;
    }
    .tagbar{
        display: none;
        visibility: hidden;
    }
    .image{
        grid-column: 1/2;
        width: 90%;
        height: 90%;
    }
}
@media only screen and (max-width: 420px){
    .main-flex{
        padding: 52% 0% 0% 5%;
    }
    .search{
        font-size:80%;
    }
    .tagbar{
        font-size: 80%;
    }
}
@media only screen and (max-width: 386px){
    .main-flex{
        padding: 64% 0% 0% 5%;
    }
}
@media only screen and (min-width: 320px) and (max-width: 370px){
    .main-flex{
        padding: 40% 0% 0% 5%;
    }
}
.upper{
    display: grid;
    grid-template-columns: 100%;
    height: 100%;
    width: 100px;
}
.box-content{
    display: grid;
    grid-template-columns: 20% 60% 20%;
}
.course-text{
    grid-column: 2/3;
}
.buton{
    grid-column: 3/4;
    width: 100%;
    height: 100%;
}
.lightbox {
	/** Default lightbox to hidden */
	display: none;

	/** Position and style */
	position: fixed;
	z-index: 999;
	width: 100%;
	height: 100%;
	text-align: center;
	top: 0;
	left: 0;
	background: rgba(0,0,0,0.8);
}
.lightbox:target {
	/** Remove default browser outline */
	outline: none;

	/** Unhide lightbox **/
	display: block;
}
input[type=text] {
    width: 130px;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    background-color: white;
    background-image: url('searchicon.png');
    background-position: 10px 10px; 
    background-repeat: no-repeat;
    padding: 12px 20px 12px 40px;
    -webkit-transition: width 0.4s ease-in-out;
    transition: width 0.4s ease-in-out;
}
input[type=text]:focus {
    width: 80%;
}
.tilt {
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    -ms-transition: all 0.5s ease;
    transition: all 0.5s ease;
}
.tilt:hover {
    -webkit-transform: rotate(-0.5deg);
    -moz-transform: rotate(-0.5deg);
    -o-transform: rotate(-0.5deg);
    -ms-transform: rotate(-0.5deg);
    transform: rotate(-0.5deg);
}
.dropdown {
    position: relative;
    display: inline-block;
}
.dropdown-content {
    display: none;
    position: absolute;
    background-color: rgb(163, 163, 153);
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    padding: 12px 16px;
    border-radius: 5px;
    z-index: 1;
}
.dropdown:hover .dropdown-content {
    display: block;
}